@media (max-width: 700px) {
  #terminal > div {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
  .command-input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
} 